@model ESWProjectAlbergue.Models.MainAnimal

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimalType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenderType.Designacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenderType.Designacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimalBreed.Designacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalBreed.Designacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimalSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalSize.Designacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimalFurType.Designacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalFurType.Designacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimalAgeType.Designacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalAgeType.Designacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimalBehaviorType.Designacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalBehaviorType.Designacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MainAnimalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
