@model ESWProjectAlbergue.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">

       

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            <div>
                @{
                    var imgsrc = "";
                    if (Model.Photo == null)
                    {
                        if (Model.AnimalType == EnumAnimalType.CAT)
                        {
                            imgsrc = "~/images/caticon.png";
                        }
                        if (Model.AnimalType == EnumAnimalType.DOG)
                        {
                            imgsrc = "~/images/dogicon.png";
                        }
                        if (Model.AnimalType == EnumAnimalType.OTHER)
                        {
                            imgsrc = "~/images/interrogacao.png";
                        }

                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.Photo);
                        imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    }
                }
            </div>
            <img src='@imgsrc' width="200px" height="200px" style="border-radius:100px;" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimalType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Breed.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SizeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SizeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FurType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FurType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BehaviorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BehaviorType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

    </dl>
</div>
<div>
    @if (User.IsInRole("admins") || User.IsInRole("funcionarios") || User.IsInRole("users") )
    {
    <a asp-controller="AdoptionForms" asp-action="Create" asp-route-id="@Model.Id">Adotar | </a> 
    }
<a asp-action="Index">Voltar</a>
</div>
